.btn-primary{
  text-transform: uppercase;
  border-radius: 999px;
  padding-block: 0.625rem;
  padding-inline: 1.5rem;
  cursor: pointer;
  background: none;
  border: 1px solid var(--brand-green);
  color: var(--brand-green);
  font-weight: 700;
  font-size: 14px;
}

.btn-secondary{
  display: flex;
  gap: 1rem;
  align-items: center;
  text-transform: uppercase;
  border-radius: 999px;
  padding-block: 1rem;
  padding-inline: 1.5rem;
  cursor: pointer;
  background: var(--brand-green);
  border: 1px solid var(--brand-green);
  color: white;
  font-weight: 700;
  font-size: 14px;
}